<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
</head>
<body>
   <h1>Form</h1>

<form action="./login" method="get">
   <fieldset>
    <legend>Details</legend>
    <label>Name: <input type="text" name="username" placeholder="Name"> </label>
    <label>Password: <input type="password" name="passwd" placeholder="password"> </label>
    <button type="submit">Ok</button>
   </fieldset>
</form>
</body>
</html>
