<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Dashboard</title>
</head>
<body>
     {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="message" onclick="errorBtn()">
                    <p>{{ message }}</p>
                    <button>X</button>
                </div>
            {% endfor %}
         {% endif %}
       {% endwith %}
    <h1> Welcome to Your Dashboard</h1>

    <div class="contents">
        <div class="projects">
        <h2>Create a Project</h2>
        <button class="create" onclick="addProject()">+</button>

        <h3>Projects</h3>

        {% if not projects %}
            <p class="no-projects">No Projects Yet</p>
        {% else %}
        <div class="groups-project">
        {% for project in projects %}
            <a href="{{ url_for('project_view', project_id=project.id) }}"><button class="open-project-btn">{{ project.name }}</button></a>
        {% endfor %}
         </div>
        {% endif %}

    </div>

    <div class="tasks">
        <h2>Create a Task</h2>
        <button class="create" onclick="addTask()">+</button>
        <h3>Tasks</h3>
         {% if not tasks %}
            <p class="no-projects">No Tasks Yet</p>
        {% else %}
        <div class="groups-task">
        {% for task in tasks %}
            {% if task.project_id == None %}
             <div><p>{{ task.body }}<sub><a href="{{ url_for('delete_task', task_id=task.id) }}"><button>✖</button></a></sub></p></div>
             {% endif %}
         {% endfor %}
        </div>
        {% endif %}
    </div>
    </div>
    <div class="project-form">
        <form action="{{ url_for('create_project', user_id=user.id)}}" method="post">
            <fieldset>
                <legend>Input Project Name</legend>
                <input type="text" name="name" placeholder="Project 1">
                <input type="submit">
            </fieldset>
        </form>
    </div>



    <div class="task-form regular">
        <form action="{{ url_for('create_task', user_id=user.id)}}" method="post">
            <fieldset>
                <legend>Add a task</legend>
                <input type="text" name="body" placeholder="Task 1">
                <input type="submit">
            </fieldset>
        </form>
    </div>

    <a href="{{ url_for('logout') }}"><button class="logout">Log Out</button></a>
    <script src="../static/index.js"></script>
</body>
</html>
