<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Dashboard</title>
</head>
<body>
     {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="message" onclick="errorBtn()">
                    <p>{{ message }}</p>
                    <button>X</button>
                </div>
            {% endfor %}
         {% endif %}
       {% endwith %}
    <h1> Welcome to Your Dashboard</h1>

    <div class="contents">
        <div class="projects">
        <h2>Create a Project</h2>
        <button class="create" onclick="addProject()">+</button>

        <h3>Projects</h3>

        {% if not projects %}
            <p class="no-projects">No Projects Yet</p>
        {% else %}
        <div class="groups-project">
        {% for project in projects %}
            <button onclick="openProject()">{{ project.name }}</button>
         {% endfor %}
        </div>
        {% endif %}

    </div>

    <div class="tasks">
        <h2>Create a Task</h2>
        <button class="create" onclick="addTask()">+</button>
        <h3>Tasks</h3>
         {% if not projects %}
            <p class="no-projects">No Tasks Yet</p>
        {% else %}
        <div class="groups-task">
        {% for task in tasks %}
             <div><p>{{ task.body }}<sub><a href="{{ url_for('delete_task', task_id=task.id) }}"><button>✖</button></a></sub></p></div>
         {% endfor %}
        </div>
        {% endif %}



    </div>
    </div>

    <div class="project-form">
        <form action="{{ url_for('create_project', user_id=user.id)}}" method="post">
            <fieldset>
                <legend>Input Project Name</legend>
                <input type="text" name="name" placeholder="Project 1">
                <input type="submit">
            </fieldset>
        </form>
    </div>

    <div class="add-task-form">
        <h2>Create a Task</h2>
        <button class="add-task" onclick="addTask()">+</button>
        <h3>Tasks</h3>
        <div class="groups-task">
            <div><p>Eat Fufu and Drink Garri and beans later in the afternoon <sub><button>✖</button></sub></p></div>
            <div><p>Wash my laundry and dry and iron <sub><button>✖</button></sub></p> </div>
            <div><p>Task 3 <sub><button>✖</button></sub></p></div>
            <div><p>Task 5 <sub><button>✖</button></sub></p></div>
            <div><p>Task 4 <sub><button>✖</button></sub></p></div>

    </div>
    <div class="close-project">
        <button class="close-project" onclick="closeProject()">Close Project</button>
        <button class="delete-project" onclick="closeProject()">Delete Project</button>
    </div>

    </div>

    <div class="task-form">
        <form action="{{ url_for('create_task', user_id=user.id)}}" method="post">
            <fieldset>
                <legend>Add a task</legend>
                <input type="text" name="body" placeholder="Task 1">
                <input type="submit">
            </fieldset>
        </form>
    </div>

    <script src="../static/index.js"></script>
</body>
</html>
