<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Task Manager</title>
</head>
<body>
    <nav>
        <a href="#">Sign Up</a>
        <a href="#">Log In</a>
    </nav>
    <h1>Task Manager</h1>
    <p>The World's simplest Task Manager. Just create a project and manage your tasks under it.</p>

    <h3>It's just a sign up away to start using the application</h3>
    <button><a href="#">Sign Up</a>
    </button>
</body>
</html>
