<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Home - Task Manager</title>
</head>
<body>
    <nav>
        <p>TaskLight</p>
        <a href="{{ url_for('register') }}">Sign Up</a>
        <a href="{{ url_for('login') }}">Log In</a>
    </nav>
    <div class="hero">
        <h1>TaskLight</h1>
        <p>The World's simplest Task Manager. Just create a project and manage your tasks under it.</p>

    </div>

    <div class="action">
         <h3>It's just a sign up away to start using the application</h3>
        <button><a href="{{ url_for('register') }}">Sign Up</a>
        </button>
    </div>
    
    <footer>
        Copyright @ prince Ij
    </footer>

</body>
</html>
