<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="{{ url_for('register') }}" method="post">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div style="color: red; background-color: yellowgreen;">
                    {{ message }}
                </div>
            {% endfor %}
         {% endif %}
       {% endwith %}
        <input type="email" placeholder="Email" name="email" required>
        <input type="password", name="passwd", placeholder="password" required>
        <input type="password", name="cpasswd", placeholder="Confirm password" required>
        <button>Sign Up</button>
    </form>
</body>
</html>
