body {
    background-color: #7ff;
    margin: 0;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 0px 20px;
}

nav a {
    text-decoration: none;
    color: black;
    border: 3px solid ;
    border-radius: 20px;
    padding: 10px;
    color: rebeccapurple;
}


nav p {
    margin-right: auto;
    color: #abf;
    font-weight: 900;
    font-family: monospace;
}

.hero {
    margin: 30px;
    padding: 12px;
}

h1 {
    color: darkgoldenrod;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 2.5rem;

}

p {
    font-family: sans-serif;
    color: darkcyan;
    font-weight: 500;
}

.action {
    background-color: aqua;
    padding: 20px 50px;
    border-radius: 100px;
    color: darkmagenta;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px 1;
}

button a {
    flex-shrink: 0;
    border-radius: 5px;
    text-decoration: none;
    color: red;
}

button {
    background-color: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    margin-top: 20px;
}

/* form Styles */

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.login input {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 30px;
    color: darkgoldenrod;
    font-weight: 900;
    padding: 20px;
}

.message {
    background-color: yellow;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    margin: 10px;
}

.message p {
    color: red;
    font-family: Georgia;
}

.message button {
    border-color: green;
    margin-left: auto;
    padding: px 15px;
}

.message button:hover {
    color: red;
}

form button:hover {
    background-color: white;
    color: black;
}

/* Dashboard styles */


.contents {
    display: flex;
    gap: 30px;
    background-color: #123fda98;
    color: white;
    border-radius: 20px;
    padding: 12px;
    margin: 10px;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.projects h2 {
    align-self: center;
    color: #01ff16;
}

.tasks h2 {
    align-self: center;
    color: #01ff16;
}

.create {
    font-size: xx-large;
    color: #fff;
    padding: 20px;
}

.no-projects {
    color: white;
    text-align: center;
    font-size: x-large;
    opacity: 70%;

}

.create:hover {
    font-size: xx-large;
    color: red;
    background-color: white;
    padding: 20px;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 50%;
}

.groups-project button{
    margin: 10px 40px;
    color: aliceblue;
}

.groups-project button:hover {
    background-color: red;
}

.groups-task {
    align-self: center;
}

.groups-task div {
    margin: 10px;
}

.groups-task p {
    display: inline;
    color: #7ff;
    margin-right: 30px;
}

.groups-task button {
    font-size: 10px;
    padding: 3px 10px;
    margin-left: 20px;
    color: beige;
}

.groups-task button:hover {
    background-color: blue;
    color: greenyellow;
}

h3 {
    align-self: center;
}



.task-form {
    position: absolute;
    background-color: black;
    color: #01ff16;
    height: 200%;
    width: 100%;
    display: none;
}

.project-form {
    position: absolute;
    background-color: black;
    color: #01ff16;
    height: 200%;
    width: 100%;
    display: none;
}

.project-form input {
    background-color: transparent;
    color: blanchedalmond;
}

.task-form input{
    background-color: transparent;
    color: blanchedalmond;
}

.add-task-form {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 200%;
    width: 100%;
    display: none;
}

.add-task-form h2 {
    color: red;
}

.add-task {
    color: white;
    font-size: xx-large;
    padding: 10px 60px;
}

.add-task:hover {
    background-color: blue;
}

.close-project {
    color: red;
    align-self: flex-end;
    margin: 20px;
    margin-bottom: auto;
}

.delete-project {
    color: red;
    align-self: flex-end;
    margin: 20px;
    margin-bottom: auto;
}

.close-project:hover {
    color: #01ff16;
}

.delete-project:hover {
    color: #01ff16;
}
